<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<h1>Events hosted by <%= @user.name %></h1>
<ul>
  <% @user.hosted_events.each do |event| %>
    <li><%= link_to event.name, event_path(event) %></li>
  <% end %>
</ul>

<h1>Upcoming Events <%= @user.name %> is Attending</h1>
<ul>
  <% @upcoming_events.each do |event| %>
    <li><%= link_to event.name, event_path(event) %></li>
  <% end %>
</ul>

<h1>Past Events <%= @user.name %> Attended</h1>
<ul>
  <% @previous_events.each do |event| %>
    <li><%= link_to event.name, event_path(event) %></li>
  <% end %>
</ul>



<%= link_to 'Back', events_path %>
